body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    }
    .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #062f7a;
    color: #fff; 
    padding: 20px;
    
    }
    .header__nav {
    display: flex;
    }
    .header__link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    }
    .header__link:hover {
    color: #ff0000;
    }
    .content {
    display: flex;
    padding: 30px;
    }
    .footer {
    background-color: #062f7a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    }